/* Imports fonts */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */

/* Classes genéricas */
.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: TitilliumWeb-Black;
}

